<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>APP</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<div class="container">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="">
                <li><a href="/"><i class="large material-icons">apps</i><span
                                style="display: inherit; margin-top: -64px; padding-left: 32px;">Список</span></a></li>
                {% if not user %}
                    <li class="right"><a href="/login"><span style="padding-right: 16px;">Войти</span><i
                                    style="display: inherit; float: right; padding-right: 12px;"
                                    class="large material-icons">person</i></a></li>
                {% else %}
                    <li class="right"><a href="/logout"><span
                                    style="padding-right: 32px;">Выйти [{{ user.email }}]</span></a><i
                                style="display: inherit; margin-top: -64px; float: right; padding-right: 12px;"
                                class="large material-icons">exit_to_app</i></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
</div>
<script>
    // Materialize selects
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
</body>
</html>


